body {
background-color:#8AB7FF;
}

#container {
margin:auto;
width:500px;
}

header {
    margin:auto;
}
p {
    background-color:white;
    padding-left:10px;
}
h4 {
    background-color:#FA8178;
    text-align:right;
    padding-right:10px;
}
#outMessage {
    border-style:solid;
}
a {
    float:right;
}
img {
    padding-bottom:10px;
}